Ruinvest/.vs/Ruinvest/v15/Server/sqlite3/storage.ide-wal
Ruinvest/.vs/config/applicationhost.config
Ruinvest/.vs/Ruinvest/v15/.suo
Ruinvest/.vs/Ruinvest/v15/Server/sqlite3/db.lock
Ruinvest/.vs/Ruinvest/v15/Server/sqlite3/storage.ide
Ruinvest/.vs/Ruinvest/v15/Server/sqlite3/storage.ide-shm
Ruinvest/Ruinvest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Ruinvest/packages/EntityFramework.6.2.0/content/net40/App.config.transform
Ruinvest/packages/EntityFramework.6.2.0/content/net40/Web.config.transform
Ruinvest/packages/EntityFramework.6.2.0/EntityFramework.6.2.0.nupkg
Ruinvest/Ruinvest/bin/Antlr3.Runtime.dll
Ruinvest/Ruinvest/bin/Antlr3.Runtime.pdb
Ruinvest/Ruinvest/bin/ApplicationInsights.config
Ruinvest/Ruinvest/bin/EntityFramework.dll
Ruinvest/Ruinvest/bin/EntityFramework.SqlServer.dll
Ruinvest/Ruinvest/bin/EntityFramework.SqlServer.xml
Ruinvest/Ruinvest/bin/EntityFramework.xml
Ruinvest/Ruinvest/bin/Microsoft.AI.Agent.Intercept.dll
Ruinvest/Ruinvest/bin/Microsoft.AI.DependencyCollector.dll
Ruinvest/Ruinvest/bin/Microsoft.AI.DependencyCollector.xml
Ruinvest/Ruinvest/bin/Microsoft.AI.PerfCounterCollector.dll
Ruinvest/Ruinvest/bin/Microsoft.AI.ServerTelemetryChannel.dll
Ruinvest/Ruinvest/bin/Microsoft.AI.ServerTelemetryChannel.xml
Ruinvest/Ruinvest/bin/Microsoft.AI.Web.dll
Ruinvest/Ruinvest/bin/Microsoft.AI.Web.xml
Ruinvest/Ruinvest/bin/Microsoft.AI.WindowsServer.dll
Ruinvest/Ruinvest/bin/Microsoft.AI.WindowsServer.xml
Ruinvest/Ruinvest/bin/Microsoft.ApplicationInsights.dll
Ruinvest/Ruinvest/bin/Microsoft.ApplicationInsights.xml
Ruinvest/Ruinvest/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
Ruinvest/Ruinvest/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
Ruinvest/Ruinvest/bin/Microsoft.Web.Infrastructure.dll
Ruinvest/Ruinvest/bin/Newtonsoft.Json.dll
Ruinvest/Ruinvest/bin/Newtonsoft.Json.xml
Ruinvest/Ruinvest/bin/roslyn/csc.exe
Ruinvest/Ruinvest/bin/roslyn/csc.exe.config
Ruinvest/Ruinvest/bin/roslyn/csc.rsp
Ruinvest/Ruinvest/bin/roslyn/csi.exe
Ruinvest/Ruinvest/bin/roslyn/csi.exe.config
Ruinvest/Ruinvest/bin/roslyn/csi.rsp
Ruinvest/Ruinvest/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
Ruinvest/Ruinvest/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
Ruinvest/Ruinvest/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
Ruinvest/Ruinvest/bin/roslyn/Microsoft.CSharp.Core.targets
Ruinvest/Ruinvest/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
Ruinvest/Ruinvest/bin/roslyn/Microsoft.VisualBasic.Core.targets
Ruinvest/Ruinvest/bin/roslyn/Microsoft.Win32.Primitives.dll
Ruinvest/Ruinvest/bin/roslyn/System.AppContext.dll
Ruinvest/Ruinvest/bin/roslyn/System.Console.dll
Ruinvest/Ruinvest/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
Ruinvest/Ruinvest/bin/roslyn/System.Diagnostics.Process.dll
Ruinvest/Ruinvest/bin/roslyn/System.Diagnostics.StackTrace.dll
Ruinvest/Ruinvest/bin/roslyn/System.IO.FileSystem.DriveInfo.dll
Ruinvest/Ruinvest/bin/roslyn/System.IO.Pipes.dll
Ruinvest/Ruinvest/bin/roslyn/System.Security.AccessControl.dll
Ruinvest/Ruinvest/bin/roslyn/System.Security.Claims.dll
Ruinvest/Ruinvest/bin/roslyn/System.Security.Cryptography.Algorithms.dll
Ruinvest/Ruinvest/bin/roslyn/System.Security.Cryptography.Encoding.dll
Ruinvest/Ruinvest/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
Ruinvest/Ruinvest/bin/roslyn/System.Security.Principal.Windows.dll
Ruinvest/Ruinvest/bin/roslyn/System.Text.Encoding.CodePages.dll
Ruinvest/Ruinvest/bin/roslyn/System.Threading.Thread.dll
Ruinvest/Ruinvest/bin/roslyn/System.Xml.ReaderWriter.dll
Ruinvest/Ruinvest/bin/roslyn/System.Xml.XmlDocument.dll
Ruinvest/Ruinvest/bin/roslyn/System.Xml.XPath.dll
Ruinvest/Ruinvest/bin/roslyn/System.Xml.XPath.XDocument.dll
Ruinvest/Ruinvest/bin/roslyn/vbc.exe
Ruinvest/Ruinvest/bin/roslyn/vbc.exe.config
Ruinvest/Ruinvest/bin/roslyn/vbc.rsp
Ruinvest/Ruinvest/bin/roslyn/VBCSCompiler.exe.config
Ruinvest/Ruinvest/bin/ru/System.Web.Helpers.resources.dll
Ruinvest/Ruinvest/bin/ru/System.Web.Mvc.resources.dll
Ruinvest/Ruinvest/bin/ru/System.Web.Optimization.resources.dll
Ruinvest/Ruinvest/bin/ru/System.Web.Razor.resources.dll
Ruinvest/Ruinvest/bin/ru/System.Web.WebPages.Deployment.resources.dll
Ruinvest/Ruinvest/bin/ru/System.Web.WebPages.Razor.resources.dll
Ruinvest/Ruinvest/bin/ru/System.Web.WebPages.resources.dll
Ruinvest/Ruinvest/bin/Ruinvest.dll
Ruinvest/Ruinvest/bin/Ruinvest.dll.config
Ruinvest/Ruinvest/bin/Ruinvest.pdb
Ruinvest/Ruinvest/bin/System.Web.Helpers.dll
Ruinvest/Ruinvest/bin/System.Web.Helpers.xml
Ruinvest/Ruinvest/bin/System.Web.Mvc.dll
Ruinvest/Ruinvest/bin/System.Web.Mvc.xml
Ruinvest/Ruinvest/bin/System.Web.Optimization.dll
Ruinvest/Ruinvest/bin/System.Web.Optimization.xml
Ruinvest/Ruinvest/bin/System.Web.Razor.dll
Ruinvest/Ruinvest/bin/System.Web.Razor.xml
Ruinvest/Ruinvest/bin/System.Web.WebPages.Deployment.dll
Ruinvest/Ruinvest/bin/System.Web.WebPages.Deployment.xml
Ruinvest/Ruinvest/bin/System.Web.WebPages.dll
Ruinvest/Ruinvest/bin/System.Web.WebPages.Razor.dll
Ruinvest/Ruinvest/bin/System.Web.WebPages.Razor.xml
Ruinvest/Ruinvest/bin/System.Web.WebPages.xml
Ruinvest/Ruinvest/bin/WebGrease.dll
Ruinvest/Ruinvest/obj/Debug/Ruinvest.csproj.CopyComplete
Ruinvest/Ruinvest/obj/Debug/Ruinvest.csproj.CoreCompileInputs.cache
Ruinvest/Ruinvest/obj/Debug/Ruinvest.csproj.FileListAbsolute.txt
Ruinvest/Ruinvest/obj/Debug/Ruinvest.csprojResolveAssemblyReference.cache
Ruinvest/Ruinvest/obj/Debug/Ruinvest.dll
Ruinvest/Ruinvest/obj/Debug/Ruinvest.pdb
Ruinvest/Ruinvest/bin/roslyn/System.Collections.Immutable.dll
Ruinvest/Ruinvest/obj/Debug/Ruinvest.csproj.FileListAbsolute.txt
Ruinvest/Ruinvest/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
Ruinvest/Ruinvest/bin/roslyn/Microsoft.CodeAnalysis.dll
Ruinvest/Ruinvest/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
Ruinvest/Ruinvest/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
Ruinvest/Ruinvest/bin/roslyn/System.IO.Compression.dll
Ruinvest/Ruinvest/bin/roslyn/System.IO.FileSystem.dll
Ruinvest/Ruinvest/bin/roslyn/System.IO.FileSystem.Primitives.dll
Ruinvest/Ruinvest/bin/roslyn/System.Reflection.Metadata.dll
Ruinvest/Ruinvest/bin/roslyn/System.Security.Cryptography.Primitives.dll
Ruinvest/Ruinvest/bin/roslyn/System.ValueTuple.dll
Ruinvest/Ruinvest/bin/roslyn/VBCSCompiler.exe
Ruinvest/Ruinvest/obj/Debug/Ruinvest.csproj.FileListAbsolute.txt
