<ul>
    <a href="/Home/Index">
        <li class="revealator-once revealator-zoomin revealator-duration20 revealator-delay3">
            <i class="glyphicon glyphicon-home"></i>
            Главная
        </li>
    </a>
    <a href="/Home/CreateDeposit">
        <li class="revealator-once revealator-zoomin revealator-duration12 revealator-delay6">
            <i class="glyphicon glyphicon-fire"></i>
            Создать депозит
        </li>
    </a>
    <a href="/Home/Deposits">
        <li class="revealator-once revealator-zoomin revealator-duration12 revealator-delay9">
            <i class="glyphicon glyphicon-briefcase"></i>
            Ваши депозиты
        </li>
    </a>
    <a href="/Home/MoneyIn">
        <li class="revealator-once revealator-zoomin revealator-duration12 revealator-delay12">
            <i class="glyphicon glyphicon-credit-card"></i>
            Пополнить баланс
        </li>
    </a>
    <a href="/Home/MoneyOut">
        <li class="revealator-once revealator-zoomin revealator-duration12 revealator-delay15">
            <i class="glyphicon glyphicon-ruble"></i>
            Вывести деньги
        </li>
    </a>
        <a href="/Home/Logout">
            <li class="revealator-once revealator-zoomin revealator-duration12 revealator-delay18">
                <i class="glyphicon glyphicon-off"></i>
                Выход
            </li>
        </a>
</ul>