<ul>
    <a href="#user-panel">
        <li class="revealator-once revealator-zoomin revealator-duration20 revealator-delay3">

            <i class="glyphicon glyphicon-edit"></i>
            Регистрация
        </li>
    </a>
    <a href="#user-panel">
        <li class="revealator-once revealator-zoomin revealator-duration12 revealator-delay6">

            <i class="glyphicon glyphicon-log-in"></i>
            Войти в кабинет
        </li>
    </a>
</ul>