<div class="block-menu">
    <div class="menu">
        <ul>
            <li class="revealator-once revealator-zoomin revealator-duration20 revealator-delay3">
                <i class="glyphicon glyphicon-home"></i>
                Главная
            </li>
            <li class="revealator-once revealator-zoomin revealator-duration12 revealator-delay6">
                <i class="glyphicon glyphicon-fire"></i>
                Создать депозит
            </li>
            <li class="revealator-once revealator-zoomin revealator-duration12 revealator-delay9">
                <i class="glyphicon glyphicon-briefcase"></i>
                Ваши депозиты
            </li>
            <li class="revealator-once revealator-zoomin revealator-duration12 revealator-delay12">
                <i class="glyphicon glyphicon-credit-card"></i>
                Пополнить баланс
            </li>
            <li class="revealator-once revealator-zoomin revealator-duration12 revealator-delay15">
                <i class="glyphicon glyphicon-ruble"></i>
                Вывести деньги
            </li>
            <li class="revealator-once revealator-zoomin revealator-duration12 revealator-delay18">
                <i class="glyphicon glyphicon-off"></i>
                Выход
            </li>
        </ul>
    </div>
</div>