@{ 
    Layout = "~/Views/Shared/_RuinvestBase.cshtml";
}

<div class="label-company revealator-once revealator-slideup revealator-duration30 revealator-delay1 ">
    <div>
        <span>RUINVEST</span>
    </div>
</div>
<div class="logo revealator-once revealator-zoomin revealator-duration25 revealator-delay7">
</div>
<div class="discription revealator-once revealator-slidedown  revealator-duration15 revealator-delay15">
    <div class="discription-head ">
        <h3>МЫ РАБОТАЕМ</h3>
        <h3>ВЫ ЗАРАБАТЫВАЕТЕ!</h3>
    </div>
</div>
<div class="steps ">
    <div class="step revealator-once revealator-zoomin  revealator-duration12 revealator-delay3">
        <img src="../Image/reg.png">
        <span>регистрируйтесь</span>
    </div>
    <div class="step revealator-once revealator-zoomin  revealator-duration12 revealator-delay8">
        <img src="../Image/money.png">
        <span>пополните счёт</span>
    </div>
    <div class="step revealator-once revealator-zoomin  revealator-duration12 revealator-delay13">
        <img src="../Image/hourglass.png">
        <span>выберите срок инвестирования</span>
    </div>
    <div class="step revealator-once revealator-zoomin  revealator-duration12 revealator-delay18">
        <img src="../Image/creditcard.png">
        <span>выводите заработанные средства</span>
    </div>
</div>

<div class="advantages">
    <div class="advantages-head revealator-once revealator-slideright revealator-duration15 revealator-delay12">
        Преимущества работы с RUINVEST:
    </div>
    <ul>
        <li class="revealator-once revealator-slideright revealator-duration10 revealator-delay10">
            <i class="glyphicon glyphicon-ok"></i>
            <span>Лучшие аналитки в сфере бинарных опционов</span>
        </li>
        <li class="revealator-once revealator-slideright revealator-duration10 revealator-delay10">
            <i class="glyphicon glyphicon-ok"></i>
            <span>Стабильный доход — до 2% в день</span>
        </li>
        <li class="revealator-once revealator-slideright revealator-duration10 revealator-delay10">
            <i class="glyphicon glyphicon-ok"></i>
            <span>Инвистиции от 350 до 50000 рублей</span>
        </li>
        <li class="revealator-once revealator-slideright revealator-duration10 revealator-delay10">
            <i class="glyphicon glyphicon-ok"></i>
            <span>Полная прозрачность в работе с инвестициями</span>
        </li>
        <li class="revealator-once revealator-slideright revealator-duration10 revealator-delay10">
            <i class="glyphicon glyphicon-ok"></i>
            <span>Работа с платёжной системой QIWI</span>
        </li>
        <li class="revealator-once revealator-slideright revealator-duration10 revealator-delay10">
            <i class="glyphicon glyphicon-ok"></i>
            <span>Гибкие тарифные планы, долгосрочные инвестиции</span>
        </li>
    </ul>
</div>

@if (!User.Identity.IsAuthenticated)
{
    <div id="user-panel" class="user-panel revealator-once revealator-slideleft revealator-duration10 revealator-delay5">
        <div class="user-reg">
            <div class="user-panel-head">
                РЕГИСТРАЦИЯ
            </div>
            <div class="user-data">
                <input type="text" placeholder="Фамилия" id="reg-first-name" />
                <input type="text" placeholder="Имя" id="reg-second-name" />
                <input type="text" placeholder="Номер телефона" id="reg-phone-number" />
                <input type="password" placeholder="Пароль" id="reg-password" />
                <button class="registred btn btn-primary" id="reg-btn-ok" data-request-url="@Url.Action("Registration", "Home")">зарегистрироваться</button>
            </div>
        </div>
        <div class="user-login">
            <div class="user-panel-head">
                Войти
            </div>
            <div class="user-data">
                <input type="text" placeholder="Номер телефона" id="log-phone-number" />
                <input type="password" placeholder="Пароль" id="log-password" />
                <button class="login btn btn-success" id="log-btn-ok" data-request-url="@Url.Action("Login", "Home")">войти</button>
            </div>
        </div>
    </div>
}