@using Ruinvest.Logic
@{
    Layout = "~/Views/Shared/_RuinvestBase.cshtml";
}

<div class="label-money-in revealator-once revealator-slideup revealator-duration30 revealator-delay1 ">
    <div>
        <span>Пополнение счёта</span>
    </div>
</div>

<div class="money-in">
    <div class="input-append">
        <input type="number" placeholder="Укажите сумму пополнения" id="input-moneyIn" class="text-input">
        <button type="submit" id="addMoney">Пополнить</button>
    </div>
</div>
